//////////////////////
////*** Global ***////
//////////////////////
$whiteColor: #ffffff;
$blackColor: #000000;
$infoColor: #3392FF;
$successColor: #4FB848;
$warningColor: #FF9500;
$dangerColor: #E50000;

// Primary //
$primaryColor: #005FCC;
$primaryColor-25: lighten($primaryColor, 57.5%);
$primaryColor-50: lighten($primaryColor, 55%);
$primaryColor-100: lighten($primaryColor, 50%);
$primaryColor-200: lighten($primaryColor, 40%);
$primaryColor-300: lighten($primaryColor, 30%);
$primaryColor-400: lighten($primaryColor, 10%);
$primaryColor-500: darken($primaryColor, 3.5%);
$primaryColor-600: darken($primaryColor, 10%);
$primaryColor-700: darken($primaryColor, 20%);
$primaryColor-800: darken($primaryColor, 25%);
$primaryColor-900: darken($primaryColor, 30%);

//Secondary //
$secondaryColor: #4FB848;
$secondaryColor-25: lighten($secondaryColor, 47%);
$secondaryColor-50: lighten($secondaryColor, 45%);
$secondaryColor-100: lighten($secondaryColor, 40%);
$secondaryColor-200: lighten($secondaryColor, 30%);
$secondaryColor-300: lighten($secondaryColor, 20%);
$secondaryColor-400: lighten($secondaryColor, 10%);
$secondaryColor-600: darken($secondaryColor, 10%);
$secondaryColor-700: darken($secondaryColor, 20%);
$secondaryColor-800: darken($secondaryColor, 30%);
$secondaryColor-900: darken($secondaryColor, 40%);

// Tertiary //
$tertiaryColor: #00AAFF;
$tertiaryColor-25: lighten($tertiaryColor, 47.5%);
$tertiaryColor-50: lighten($tertiaryColor, 45%);
$tertiaryColor-100: lighten($tertiaryColor, 40%);
$tertiaryColor-200: lighten($tertiaryColor, 30%);
$tertiaryColor-300: lighten($tertiaryColor, 20%);
$tertiaryColor-400: lighten($tertiaryColor, 10%);
$tertiaryColor-600: darken($tertiaryColor, 10%);
$tertiaryColor-700: darken($tertiaryColor, 20%);
$tertiaryColor-800: darken($tertiaryColor, 30%);
$tertiaryColor-900: darken($tertiaryColor, 40%);

// Neutral Color //
//$neutralColor: #768594;
$neutralColor: #ffffff;
$neutralColor-25: darken($neutralColor, 2.5%);
$neutralColor-50: darken($neutralColor, 5%);
$neutralColor-100: darken($neutralColor, 10%);
$neutralColor-200: darken($neutralColor, 20%);
$neutralColor-300: darken($neutralColor, 30%);
$neutralColor-400: darken($neutralColor, 40%);
$neutralColor-500: darken($neutralColor, 50%);
$neutralColor-600: darken($neutralColor, 60%);
$neutralColor-700: darken($neutralColor, 70%);
$neutralColor-800: darken($neutralColor, 80%);
$neutralColor-900: darken($neutralColor, 90%);
$neutralColor-1000: darken($neutralColor, 100%);

//////////////////////
////*** Alerts ***////
//////////////////////
$infoAlertColor: $primaryColor-100;
$infoAlertBorderColor: $primaryColor-200;
$infoAlertTextColor: $primaryColor-700;

// Success Alert Color //
$successAlertColor: $secondaryColor-50;
$successAlertBorderColor: $secondaryColor-200;
$successAlertTextColor: $secondaryColor-600;

// Warning Alert C0lor //
$warningAlertColor: lighten($warningColor, 44%);
$warningAlertBorderColor: lighten($warningColor, 30%);
$warningAlertTextColor: darken($warningColor, 12%);

// Danger Alert Color //
$dangerAlertColor: lighten($dangerColor, 50%);
$dangerAlertBorderColor: lighten($dangerColor, 30%);
$dangerAlertTextColor: darken($dangerColor, 30%);

