/** AR Fonts **/
@font-face {
  font-family: Tajawal-ExtraLight;
  src: url('../fonts/Tajawal/Tajawal-ExtraLight.ttf');
}
@font-face {
  font-family: Tajawal-Light;
  src: url('../fonts/Tajawal/Tajawal-Light.ttf');
}
@font-face {
  font-family: Tajawal-Regular;
  src: url('../fonts/Tajawal/Tajawal-Regular.ttf');
}
@font-face {
  font-family: Tajawal-Medium;
  src: url('../fonts/Tajawal/Tajawal-Medium.ttf');
}
@font-face {
  font-family: Tajawal-Bold;
  src: url('../fonts/Tajawal/Tajawal-Bold.ttf');
}
@font-face {
  font-family: Tajawal-ExtraBold;
  src: url('../fonts/Tajawal/Tajawal-ExtraBold.ttf');
}
@font-face {
  font-family: Tajawal-Black;
  src: url('../fonts/Tajawal/Tajawal-Black.ttf');
}




/** Icon Fonts **/
@font-face{
  font-family: fontawesome;
  src: url(../fonts/fontawesome/webfonts/fa-solid-900.ttf);
}