// Sizes For "Fonts, Padding, Margins, Radius" //
$size-2: 0.125rem;
$size-4: 0.25rem;
$size-5: 0.313rem;
$size-8: 0.5rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-44: 2.75rem;
$size-48: 3rem;
$size-50: 3.125rem;
$size-60: 3.75rem;
$size-64: 4rem;
$size-70: 4.375rem;
$size-80: 5rem;
$size-96: 6rem;


// Font Size //
$font-10: 0.625rem;
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.375rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-32: 2rem;
$font-36: 2.25rem;
$font-40: 2.5rem;
$font-44: 2.75rem;
$font-48: 3rem;
$font-50: 3.125rem;
$font-60: 3.75rem;
$font-64: 4rem;
$font-70: 4.375rem;
$font-80: 5rem;
$font-96: 6rem;

// Padding Size //
$padding-2: 0.125rem;
$padding-4: 0.25rem;
$padding-5: 0.313rem;
$padding-8: 0.5rem;
$padding-10: 0.625rem;
$padding-12: 0.75rem;
$padding-14: 0.875rem;
$padding-15: 0.938rem;
$padding-16: 1rem;
$padding-18: 1.15rem;
$padding-20: 1.25rem;
$padding-22: 1.375rem;
$padding-24: 1.5rem;
$padding-26: 1.625rem;
$padding-30: 1.875rem;
$padding-32: 2rem;
$padding-40: 2.5rem;
$padding-44: 2.75rem;
$padding-48: 3rem;
$padding-50: 3.125rem;
$padding-60: 3.75rem;
$padding-64: 4rem;
$padding-70: 4.375rem;
$padding-80: 5rem;
$padding-96: 6rem;

// Margin Size //
$margin-2: 0.125rem;
$margin-4: 0.25rem;
$margin-5: 0.313rem;
$margin-8: 0.5rem;
$margin-10: 0.625rem;
$margin-12: 0.75rem;
$margin-14: 0.875rem;
$margin-15: 0.938rem;
$margin-16: 1rem;
$margin-18: 1.15rem;
$margin-20: 1.25rem;
$margin-22: 1.375rem;
$margin-24: 1.5rem;
$margin-26: 1.625rem;
$margin-30: 1.875rem;
$margin-32: 2rem;
$margin-40: 2.5rem;
$margin-48: 3rem;
$margin-50: 3.125rem;
$margin-60: 3.75rem;
$margin-64: 4rem;
$margin-70: 4.375rem;
$margin-80: 5rem;
$margin-96: 6rem;

// Radius Size //
$radius-2: 0.125rem;
$radius-4: 0.25rem;
$radius-8: 0.5rem;
$radius-10: 0.625rem;
$radius-12: 0.75rem;
$radius-14: 0.875rem;
$radius-15: 0.938rem;
$radius-16: 1rem;
$radius-18: 1.15rem;
$radius-20: 1.25rem;
$radius-22: 1.375rem;
$radius-24: 1.5rem;
$radius-26: 1.625rem;
$radius-30: 1.875rem;
$radius-32: 2rem;
$radius-40: 2.5rem;
$radius-48: 3rem;
$radius-50: 50%;
$radius-100: 100%;

// Transition //
$transition-3s: all ease .3s;
$transition-4s: all ease .4s;
$timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
