// Sizes For "Padding, Margins, Radius" //
$size-0: 0rem;
$size-1: 0.0625rem;
$size-2: 0.125rem;
$size-3: 0.1875rem;
$size-4: 0.25rem;
$size-5: 0.313rem;
$size-6: 0.375rem;
$size-8: 0.5rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-26: 1.625rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-32: 2rem;
$size-34: 2.125rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-42: 2.625rem;
$size-44: 2.75rem;
$size-46: 2.875rem;
$size-48: 3rem;
$size-50: 3.125rem;
$size-56: 3.5rem;
$size-60: 3.75rem;
$size-64: 4rem;
$size-70: 4.375rem;
$size-72: 4.5rem;
$size-80: 5rem;
$size-88: 5.5rem;
$size-90: 5.625rem;
$size-92: 5.75rem;
$size-96: 6rem;
$size-104: 6.5rem;
$size-112: 7rem;
$size-120: 7.5rem;
$size-128: 8rem;
$size-136: 8.5rem;
$size-144: 9rem;
$size-152: 9.5rem;
$size-152: 9.5rem;
$size-160: 10rem;

//==== Font Sizes ====//
$font-size-4: calc(.25rem + .02vw);
$font-size-5: calc(.313rem + .02vw);
$font-size-6: calc(.375rem + .02vw);
$font-size-8: calc(.5rem + .02vw);
$font-size-10: calc(.625rem + .02vw);
$font-size-11: calc(.6875rem + .02vw);
$font-size-12: calc(.75rem + .02vw);
$font-size-13: calc(.8125rem + .02vw);
$font-size-14: calc(.875rem + .02vw);
$font-size-15: calc(.9375rem + .015vw);
$font-size-16: calc(1rem + .04vw);
$font-size-18: calc(1rem + .11vw);
$font-size-20: calc(1rem + .21vw);
$font-size-22: calc(1rem + .35vw);
$font-size-24: calc(1rem + .45vw);
$font-size-26: calc(1rem + .55vw);
$font-size-28: calc(1rem + .65vw);
$font-size-30: calc(1rem + .75vw);
$font-size-32: calc(1rem + .85vw);
$font-size-34: calc(1rem + .95vw);
$font-size-36: calc(1rem + 1.05vw);
$font-size-38: calc(1rem + 1.15vw);
$font-size-40: calc(1rem + 1.25vw);
$font-size-42: calc(1rem + 1.35vw);
$font-size-44: calc(1rem + 1.45vw);
$font-size-46: calc(1rem + 1.55vw);
$font-size-48: calc(1rem + 1.65vw);
$font-size-50: calc(1rem + 1.78vw);
$font-size-56: calc(1rem + .04vw);
$font-size-60: calc(1rem + 2.3vw);
$font-size-64: calc(1rem + 2.5vw);
$font-size-70: calc(1rem + 2.8vw);
$font-size-72: calc(1rem + 2.9vw);
$font-size-80: calc(1rem + 3.35vw);
$font-size-88: calc(1rem + 3.75vw);
$font-size-90: calc(1rem + 3.8vw);
$font-size-96: calc(1rem + 4.2vw);
$font-size-104: calc(1rem + 4.6vw);
$font-size-112: calc(1rem + 5vw);
$font-size-120: calc(1rem + 5.4vw);
$font-size-128: calc(1rem + 5.8vw);
$font-size-136: calc(1rem + 6.2vw);
$font-size-144: calc(1rem + 6.65vw);
$font-size-152: calc(1rem + 7.05vw);
$font-size-160: calc(1rem + 8vw);

.font-size-4 {font-size: calc(.25rem + .02vw)};
.font-size-5 {font-size: calc(.313rem + .02vw)};
.font-size-6 {font-size: calc(.375rem + .02vw)};
.font-size-8 {font-size: calc(.5rem + .02vw)};
.font-size-10 {font-size: calc(.625rem + .02vw)};
.font-size-11 {font-size: calc(.6875rem + .02vw)};
.font-size-12 {font-size: calc(.75rem + .02vw)};
.font-size-13 {font-size: calc(.8125rem + .02vw)};
.font-size-14 {font-size: calc(.875rem + .02vw)};
.font-size-15 {font-size: calc(.9375rem + .015vw)};
.font-size-16 {font-size: calc(1rem + .04vw)};
.font-size-18 {font-size: calc(1rem + .11vw)};
.font-size-20 {font-size: calc(1rem + .21vw)};
.font-size-22 {font-size: calc(1rem + .35vw)};
.font-size-24 {font-size: calc(1rem + .45vw)};
.font-size-26 {font-size: calc(1rem + .55vw)};
.font-size-28 {font-size: calc(1rem + .65vw)};
.font-size-30 {font-size: calc(1rem + .75vw)};
.font-size-32 {font-size: calc(1rem + .85vw)};
.font-size-34 {font-size: calc(1rem + .95vw)};
.font-size-36 {font-size: calc(1rem + 1.05vw)};
.font-size-38 {font-size: calc(1rem + 1.15vw)};
.font-size-40 {font-size: calc(1rem + 1.25vw)};
.font-size-42 {font-size: calc(1rem + 1.35vw)};
.font-size-44 {font-size: calc(1rem + 1.45vw)};
.font-size-46 {font-size: calc(1rem + 1.55vw)};
.font-size-48 {font-size: calc(1rem + 1.65vw)};
.font-size-50 {font-size: calc(1rem + 1.78vw)};
.font-size-56 {font-size: calc(1rem + 2.1vw)};
.font-size-60 {font-size: calc(1rem + 2.3vw)};
.font-size-64 {font-size: calc(1rem + 2.5vw)};
.font-size-70 {font-size: calc(1rem + 2.8vw)};
.font-size-72 {font-size: calc(1rem + 2.9vw)};
.font-size-80 {font-size: calc(1rem + 3.35vw)};
.font-size-88 {font-size: calc(1rem + 3.75vw)};
.font-size-90 {font-size: calc(1rem + 3.8vw)};
.font-size-96 {font-size: calc(1rem + 4.2vw)};
.font-size-104 {font-size: calc(1rem + 4.6vw)};
.font-size-112 {font-size: calc(1rem + 5vw)};
.font-size-120 {font-size: calc(1rem + 5.4vw)};
.font-size-128 {font-size: calc(1rem + 5.8vw)};
.font-size-136 {font-size: calc(1rem + 6.2vw)};
.font-size-144 {font-size: calc(1rem + 6.65vw)};
.font-size-152 {font-size: calc(1rem + 7.05vw)};
.font-size-160 {font-size: calc(1rem + 8vw)};


// Radius Size //
$standard-radius: $size-8;
$radius-16: $size-16;
$radius-50: 50%;
$radius-100: 100%;
$standard-btn-radius: $size-16;
$rounded-btn: $size-32;


// Transition //
$transition-3s: all ease .3s;
$transition-4s: all ease .4s;
$timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
